.App-todo-item {
  text-align: left;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px 10px;
}
